@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  font-family: "Comfortaa", sans-serif;
}

body {
  font-family: "Comfortaa", sans-serif;
  background-color: var(bg-black);
}

::-webkit-scrollbar {
  display: none;
}

.preloader {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 99999999;
  background-color: #141516;
  svg {
    position: absolute;
    top: 0;
    width: 100%;
    height: calc(100% + 300px);
    path {
      fill: #141516;
    }
  }
  p {
    align-items: center;
    position: absolute;
    z-index: 1;
    padding: 20px;
  }
}

.hero-slider {
  position: relative;
  white-space: nowrap;
}

.hero-slider p {
  position: relative;
  margin: 0px;
  font-size: 130px;
  font-weight: 500;
  padding-right: 50px;
}

.hero-slider p:nth-of-type(2) {
  position: absolute;
  left: 100%;
  bottom: 0;
}

.about-main {
  display: flex;
  color: rgb(211, 211, 211);
}

.about-body {
  display: flex;
  flex-wrap: wrap;
}

.about-body p {
  margin-right: 0.5vw;
  font-weight: 700;
}

.about-body span {
  opacity: 0.2;
}

.cursor {
  position: fixed;
  width: 24px;
  height: 24px;
  border-radius: 25px;
  pointer-events: none;
  z-index: 9999;
}
